/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    chosen {
        zmk,display = &oled;
    };
};

&pro_micro_i2c {
    status = "okay";

    /delete-node/ ssd1306@3c;

    oled: sh1106@3c {
        /* Uyumluluğu 'ssd1306fb' olarak değiştiriyoruz. Bu en önemli değişiklik. */
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <2>; /* SH1106 için genellikle 2 veya 0 gerekir. Önce 2 ile deneyelim. */
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        com-invdir;
        segment-remap;
        prechargep = <0x22>;
        label = "DISPLAY";
    };
};

